# Maven output
target/

#compiled java class
*.class


# Eclipse output
bin/

# IDE config files
*.iml
.idea/
.vscode/

# Backup / temporary files
*~
*.log
#Failed GUI TEST FOLDER 
**/failed-gui-tests/