# This workflow will build a Java project with Maven
name: MY TDD PROJECT

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    #Build Matrix for practice(java 8,11,17)
    strategy:
      matrix:
        java: [8, 11, 17]
                       
    

    steps:
   
    #Step Get your project code 
      - uses: actions/checkout@v2
      
    
     #Step:Istall JDK 17 (so maven can use it )
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
     
     
      #Step:Cache the .m2 folder to reuse dependencies
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml','**/*.yml')}}  
          restore-keys: ${{ runner.os }}-m2
     
     
      #Step:Build and test your project with maven 
      
      - name: Build with Maven
        run: mvn -f pom.xml clean verify
