# This workflow will build a Java project with Maven
name: MY TDD PROJECT

on:
  push:
  pull_request:
    #Job Run only on ubuntu 
jobs:
  build:
    runs-on: ubuntu-latest
    
    #Build Matrix
    strategy:
      matrix:
        java: [17]
                       
    

    steps:
   
    #Step Get your project code 
      - uses: actions/checkout@v2
      
    
     #Step:Istall JDK based on matrix  (so maven can use it )
      - name: Setup JDK ${{matrix.java}}
        uses: actions/setup-java@v3
        with:
          java-version: ${{matrix.java}}
          distribution: zulu
     
     
      #Step:Cache the .m2 folder to reuse dependencies
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml','**/*.yml')}}  
          restore-keys: ${{ runner.os }}-m2
     
     
      #Step:Build and test your project with maven 
      
      - name: Build with Maven
        run: 
          mvn -f pom.xml clean verify -Pjacoco -DrepoToken=$COVERALLS_REPO_TOKEN coveralls:report
        env:
          COVERALLS_REPO_TOKEN: ${{secrets.COVERALLS_TOKEN}}
        
      #Step:Archive Junit Report
      - name: Archive Junit Report
        uses: actions/upload-artifact@v4
        if: ${{always()}}
        with:
          name: surefire-report-jdk-${{matrix.java }}
          path: '**/target/site'
         
       
        
